/src/main/resources/data
/src/main/resources/MateTools
/src/main/resources/OpenNLP
/src/main/resources/stopwords-de.txt
/src/main/resources/stopwords-en.txt

articles_allFeatures.txt

*.log
/target/
/bin/

features.txt
