/src/main/resources/data
/src/main/resources/MateTools
/src/main/resources/OpenNLP
/src/main/resources/stopwords_de.txt
/src/main/resources/stopwords_en.txt

articles_allFeatures.txt

*.log
.classpath
.settings
/target/
/bin/









